#ocean {
  background-image: url("./img/stars.png");
  background-color: rgb(26, 25, 31);
  width: 900px;
  height: 700px;
}
.player {
  position: absolute;
  background-image: url("./img/player.png");
  width: 70px;
  height: 75px;
}
.enemy {
  position: absolute;
  background-image: url("./img/enemy.png");
  width: 70px;
  height: 75px;
}
.missile {
  position: absolute;
  background-color: rgb(180, 0, 0);
  width: 8px;
  height: 8px;
  border-radius: 1px 80%;
  border: 2px solid rgb(26, 25, 31);
  transform: rotate(45deg);
}
