* {
    margin: 0;
    padding: 0;
}
.row {
    line-height: 0;
}
.wall {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.blank {
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.sushi {
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('./img/sushi.png');
    background-size: contain;
}
.onigiri {
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('./img/onigiri.png');
    background-size: contain;
}
#ninjaman {
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('./img/ninja.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}
#score {
    color:#e6461a;
}